<div id="<%= dom_id recipe %>" class="recipe-container">
<%= link_to user_recipe_path(current_user, recipe), class: "recipe-container-link" do %>
<div>
  <p>
    <%= recipe.name %>
  </p>
  <p class="recipe-description-text">
  <%= recipe.description %>
  </p>
  </div>
  <% end %>
  <%= button_to "Remove", recipe, method: :delete, class:"recipe-del-btn" %>
  </div>
