<p style="color: green"><%= notice %></p>

<h1><%= @recipe.name %></h1>
<div class="top-recipe-show" >
  <div class= "recipe-details">
    <div class="left-side"
      <p><%= "Preperation Time: #{@recipe.preparation_time}" %></p>
      <p><%= "Cooking Time: #{@recipe.cooking_time}" %></p>
      <p><%= @recipe.description %></p>
    </div>
    <div class="right-side">
      <%= form_with model: @recipe, url: recipe_path(@recipe), method: :patch do |form| %>
        <%= form.hidden_field :public, value: !@recipe.public %>
        <%= form.submit "Toggle Public/Private", class: 'button' %>
      <% end %>
    </div>
  </div>

  <div class="recipe-show-buttons">
    <button>
      <%= link_to "Generate shopping list", shopping_list_user_recipe_path(@recipe.user, @recipe), method: :get, class: 'button' %>
    </button>
    <button>
    <%= link_to "Add ingredient", new_user_food_path(current_user), class: 'button' %>
    </button>
  </div>
</div>

<%= render partial: 'shopping_list', locals: { recipe: @recipe } %>

<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
  </thead>
  
  <tbody>
    <% @recipe.recipe_food.each do |recipe_food|  %>
      <tr>
        <td><%= recipe_food.food.name %></td>
        <td> <%= recipe_food.food.quantity %></td>
        <td><%= recipe_food.food.price %></td>
        <td><%= button_to "Delete", recipe_food, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="all-buttons">
  <%= link_to "Back to recipes", user_recipes_path(current_user) %>
</div>