<p style="color: green"><%= notice %></p>

<button>
<%= link_to "New food", new_user_food_path(current_user) %>
</button>

<h1>Foods</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Meaurement Unit</th>
      <th>Unit Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>

  <% @foods.each do |food| %>
    <tr>
      <td><%= food.name %></td>
      <td> <%= food.meaurement_unit %></td>
      <td><%= food.price %></td>
      <td></td>
  
    </tr>
  <% end %>
  </tbody>
</table>



