<h5>Shopping List for <%= @recipe.name %></h5>
<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @recipe.recipe_food.each do |recipe_food|  %>
      <tr>
        <td><%= recipe_food.food.name %></td>
        <td><%= recipe_food.quantity %></td>
        <td><%= recipe_food.price %></td>
        <td><%= button_to "Delete", recipe_food, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
